body {
    background-color: black;
    padding: 10px;
}
.planet {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    position: relative;
    border: 2px solid white;
}
.moon {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(237, 237, 237);
    border: 5px solid red;
}
.listPlanets{
    display: grid;
    grid-template-columns: repeat(6, 116px);
    gap: 10px;
}

.mercury {
    background-color: #2D393A;
}

.venus {
    background-color: #FFC74A;
}

.earth {
    background-color: #1E90FF;
}

.mars {
    background-color: #DB2520;
}

.jupiter {
    background-color: #D68A2E;
}

.saturn {
    background-color: #EEDC82;
}

.uranus {
    background-color: #49636B;
}

.neptune {
    background-color: #1C2851;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}